<style>
.scrollcenter {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    transform: translate3d(0px, 0px, 0px) scale(1);
}
</style>
<ion-view title="Sobre o eTrânsito Cidadão">
    <ion-nav-buttons side="right">
        <button class="button" style="border: 0; background-color: white; font-size: 2em;color: #38ba96;" ng-click="share();">
            <i class="ion-android-share-alt"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header bg-color">
        <div align="center" style="padding: 20px;">
            <div style="margin-bottom:15px"><img src="images/huddle3.png" width="120" alt="" style="margin-right: 30px;"><img src="images/logo.png" width="120" alt=""></div>
            <p style="color: #6F7172;margin-bottom: 25px;">A <b>Huddle3</b> é uma startup de tecnologia e inovação, genuinamente <b>paraense</b>, dedicada à criação de produtos que possibilitam a comodidade e a facilidade no relacionamento entre contribuintes e as Secretarias de Fazenda Estaduais.</p>
            <p style="color: #6F7172;margin-bottom: 25px;">O projeto <b>eTrânsito Cidadão</b> visa prover a comodidade para o contribuinte estar em dias com suas obrigações fiscais, auxiliando-o também a manter-se informado sobre o trânsito da cidade.</p>
            <div style="margin-bottom: 10px;margin-top: 10px;" align="center">
                <div style="font-weight:bold">Fale conosco</div>
                <img style="width: 50%;" src="images/header.png" alt="">
            </div>
            <a class="button btn btn-default" style="width: 100%!important;border: 0;background-color:rgba(248, 248, 248, 0);color: rgb(95, 95, 95) !important;" href="tel:91981921303">
                <i class="ion-social-whatsapp-outline"></i> (91) 98192-1303
            </a>
            <a class="button btn btn-default" style="width: 100%!important;border: 0;background-color:rgba(248, 248, 248, 0);margin-top:5px;color: rgb(95, 95, 95) !important;" href="tel:91981178020">
                <i class="ion-social-whatsapp-outline"></i> (91) 98117-8020
            </a>
            <a class="button btn btn-default" style="width: 100%!important;border: 0;background-color:rgba(248, 248, 248, 0);margin-top:5px;color: rgb(95, 95, 95) !important;" href="mailto:contato@huddle3.com">contato@huddle3.com</a>
        </div>
        <div style="height:30px"></div>
    </ion-content>
</ion-view>
