<ion-view title="Histórico de Consultas">
    <walkthrough id="info_historico" walkthrough-type="transparency" focus-element-id="btn_clean_historico" icon="single_tap" main-caption="{{msghistory}}" icon-padding-left="0" icon-padding-top="40" is-active="info_active_history">
    </walkthrough>
    <ion-nav-buttons side="right">
        <button class="button " ng-click="showinfohistory()" style="border: 0; background-color: white; font-size: 2em;color: #38ba96;">
            <i class="ion-information-circled"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header bg-color" ng-init="loadH()">
        <div style="height:25px"></div>
        <div class="alternative-actions" align="center" ng-hide="h.dados==0">
            <a id="btn_clean_historico" ng-click="clearH()" class="forgot-password button button-small button-clear" style="color: rgb(92, 92, 92);font-size: 1.3em;cursor:pointer"> <i class="ion-ios-close-outline" style="margin-right:4px"></i> Limpar Histórico</a>
        </div>
        <div ng-show="h.dados==0" style="text-align: center;margin-top: 100px;padding-left:10%;padding-right:10%;font-size: 1.2em;">Você ainda não possui históricos de consulta!
        </div>
        <div class="list list-inset" style="background-color: rgba(255, 255, 255, 0);margin-top: 0;">
            <div class="item item-result placa" ng-repeat="m in h.dados">
                <div class="placa_top" style="text-transform: uppercase;">{{m.dtcreate|date:'dd-mm-yyyy HH:mm:ss'}}</div>
                <a ng-click="consultar(m)">
                    <div class="placa_num" style="text-transform: uppercase;">{{m.placa}}</div>
                </a>
            </div>
        </div>
        <div style="height:50px"></div>
    </ion-content>
</ion-view>
